html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}


#word {
    box-sizing: border-box;
    font-size: 10vh;
    line-height: 1.3;
    background: #d6e8fa;
    border-bottom: 1px solid #ccc;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 20px;
}

#images {
    position: relative;
    height: calc(100% - 1.3*10vh);

    background: url(bg.png);
}

.image {
    position: absolute;
    width: 120px;
    transition-property: left, top, width, margin-left, margin-top;
    transition-duration: 600ms, 600ms, 200ms, 200ms, 200ms;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.image:hover {
    width: 150px;
    margin-left: -15px;
    margin-top: -15px;
}
.image.nope {
    animation: nope 0.5s;
}
@keyframes nope {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(20px);
    }
    40% {
        transform: translateX(-20px);
    }
    60% {
        transform: translateX(20px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}


#thumb-up {
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#thumb-up img {
    width: 300px;
}
#thumb-up.visible {
    opacity: 1;
    transform: scale(1);
}
